/* .content {
    opacity: 1;
    position: absolute;
    bottom: 40px;
    left: 45%;
    margin-left: -40%;
    width: 50%;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    transition: opacity .35s ease-in-out;
} */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond&family=Lobster&family=Montserrat&display=swap');

.slideshow-cont {
    border-radius: 10px;
    bottom: 40px;
    color: #fff;
    font-size: 40px;
    left: 45%;
    margin-left: -40%;
    padding: 10px;
    position: absolute;
    text-align: center;
    transition: opacity .35s ease-in-out;
    width: 50%;
}

.carousel .thumbs-wrapper {
    display: none !important;
}

/* Adding the black translucent overlay */
.slide-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
     /* background-color: rgba(184, 127, 58, 0.3);  */
    z-index: 0;
}

.slide-card:hover::before{
    background-color: rgba(0, 0, 0, 0.5); 
    transition: 0.5s ease-in-out;
}

.slide-card p{
   font-family: 'EB Garamond', serif;
    font-size: 50px;
}


@media screen and (min-width: 700px)
{
    .slide-cont {
    height: 90vh;
    width: 100%;    
    }
    .slide-card {
    height: 90vh;
    width: 100%;
    }
    
}
@media screen and (max-width: 800px) {
    .slideshow-cont {
        width: 65%;
        font-size: 35px;
    }
}
@media screen and (max-width: 620px) {
    .slideshow-cont {
        width: 65%;
        font-size: 27px;
    }
}
@media screen and (max-width: 520px) {
    .slideshow-cont {
        width: 80%;
        font-size: 23px;
    }
}
@media screen and (max-width: 400px) {
    .slideshow-cont {
        width: 85%;
        font-size: 18px;
        left: 50%;
    }
}