.product_sec
{
    padding: 2rem 0rem 2rem 0rem;
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 2rem;
}

.product_div
{
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    column-gap: 0rem;
    width: 80%;
}
.product_card
{
    position: relative;
    display: flex;
    height: 17rem;
    cursor: pointer;
}
.product_card img
{
    height: 100%;
   width: 100%;
    object-fit: cover;
}
.card1 img
{
    border-radius: 10px 100px 10px 100px;
}
.card2 img
{
    border-radius: 80px 80px 80px 80px;
}
.card3 img
{
    border-radius: 100px 10px 100px 10px;
}
.card1
{
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px 100px 10px 100px;
}
.card2
{
    justify-content:center;
    align-items: flex-end;
    border-radius: 80px 80px 80px 80px;
}
.card2 h1
{
    text-align: center;
}
.card3
{
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 100px 10px 100px 10px;
}
.product_card img
{
    width: 100%;
    position: relative;
    object-fit: cover;
}

.heading-cover
{
    position: absolute;
    width: 95%;
    
} 
.product_card h1
{
   
    background-color: rgb(234, 234, 234,0.8);
    /* background-color: rgb(235, 235, 235, 0.8); */
    padding: 1rem 1rem 1rem 1rem;
    color: #182268;
     font-size: 28px;
     font-family: 'Montserrat', sans-serif;     
}
.heading1 h1
{
    border-radius: 10px 10px 10px 100px;
}
.heading2 h1
{
     border-radius: 50px 50px 50px 50px;
}
.heading3 h1
{
     border-radius: 10px 10px 100px 10px;
}
.textile_head
{
    text-align: right;
}
.home_imp_head
{
    text-align: right;
}
.leaf
{
    width: 4rem;
    align-self: flex-start;
}
.leaf2
{
    width: 4rem;
}
.leaf3
{
    width: 4rem;
    align-self: flex-end;
}

.product_tagline
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.product_tagline h2{
    color: #182268;
    font-weight: 500;
    font-size: 32px;
}

.sec_back{
    background-color: #F1F0F0;
}

.prod_container
{
    display: flex;
    width: 80%;
    column-gap: 4rem;
}
.prod_reverse
{
    flex-direction: row-reverse;
}
.prod_container img
{
    width: 50%;
   object-fit: cover;
}
.main-img-1 img
{
    border-radius: 100px 10px 100px 10px;
}
.main-img-2 img
{
    border-radius: 10px 100px 10px 100px;
}
.prod_content
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 2rem;
}
.content_reverse
{
    justify-content: center;
    align-items: flex-end;
}
.prod_content h1
{
    color: #182268;
}
.prod_content p{
    font-size: 20px;
    text-align: left;
}
.content_reverse p
{
    text-align: right;
}